<html>
<body>
<div>Params received:</div>
<ul>
    <li>First name: {{ name }}</li>
    <li>Last name: {{ last_name }}</li>
    <li>Color: {{ color }}</li>
</ul>
</body>
</html>
{% if app.session.hasFlash('notice') %}
    <div class="flash-notice">
        {{ app.session.flash('notice') }}
    </div>
{% endif %}