<html>
<body>
<div>Params received:</div>
    <ul>
        <li>First name: {{ name }}</li>
        <li>Last name: {{ last_name }}</li>
        <li>Color: {{ color }}</li>
        <li>Various: {{ various }}</li>>
    </ul>
</body>>
</html>